body {
    background: url("https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png");
    zoom: 120%;
}

h1 {
    background-color: rgba(255, 128, 0, 0.7);
    margin: -10px;
    padding: 20px;
    text-align: center;
    font-family: Secular One;
    font-size: 50px;
}

h2 {
    padding-top: 20px;
}

h3 {
    font-family: Secular One;
    color: f000;
}

h4 {
    font-family: Secular One;
}

nav {
    background-color: rgba(255, 182, 108, 0.7);
    text-align: center;
    margin: -10px;
    padding: 1px;
    position: relative;
    top: 10px;
}

nav li {
    display: inline;
    margin-right: 20px;
    color: inherit;
}

p {
    font-size: 14px;
    font-family: styles;
    color: gray;
    width: 70%
}

a {
    text-decoration: none;
}

a:hover {
    transform: scale(1.1);
}

.besedilo {
    margin-left: 3%;
}

.skica {
    width: 65%;
}

.srce {
    position:;
    margin-top: 40px;
    margin-left: 30px;
    background-color: rgb(165, 160, 110);
    width: 50px;
    height: 50px;
    transform: rotate(-45deg);
}

.srce::after {
    background-color: rgb(165, 160, 110);
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    left: 25px;
    border-radius: 50%;
}

.srce::before {
    background-color: rgb(165, 160, 110);
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 25px;
    border-radius: 50%;
}