h1 {
    background-color: rgba(255, 128, 0, 0.75);
    margin: -10px;
    padding: 20px;
    text-align: center;
    font-family: Secular One;
    font-size: 50px;
}

h2 {
    padding-top: 20px;
}

h3 {
    font-family: Secular One;
    color: f000;
}
h4 {
    font-family: Secular One;
}

nav {
    background-color: rgba(255, 182, 108, 0.7);
    text-align: center;
    margin: -10px;
    padding: 1px;
    position: relative;
    top: 10px;
}

p {
    font-size: 14px;
    font-family: styles;
    color: gray;
    width:70%
}

.besedilo {
    margin-left: 3%;
}

.skica {
    width : 65%;
}
